@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0, .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


.info_header {
    background-color: black;
    height: 40px;
    justify-content: space-between;
}

.info_header_text {
    color: rgba(199, 199, 199, 0.8);
    font-size: 17px;
    margin-left: 368px;
    margin-right: auto;
    padding-top: 10px;
}

header {
    display: flex;
    background-color: #fff;
    height: 90px;
    justify-content: space-between;
    /* background-color: rgb(218, 215, 215); */
    background-color: var(--black);
}

header .cart_logo {
    color: #fff;
    font-size: 30px;
    font-weight: 1000;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 170px;
}

header .cart-navbar {
    color: #fff;
    font-size: 23px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    width: 350px;

}

header .cart-navbar a {
    /* color: rgb(32, 32, 32); */
    color: #fff;
    text-transform: capitalize;
}

.drop_down{
    width: 90px;
    background-color: var(--black);
    color: #fff;
    left: 730px;
    position: absolute;
    display: none;
}

.drop_down.active {
    display: inline-block;
}

.drop_down ul {
    text-decoration: none;
}

.drop_down ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
}

/* cart section */

.cart_page_landing_hero {
    background-color: #fff;
    /* display: flex; */
}

.cart_section {
    width: 100%;
    display: block;
    padding-top: 40px;
    clear: both;
}

.cart_section .cart_section_header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top: 70px;
}

.cart_wrapper {
    width: 800px;
    margin-left: 300px;
    margin-top: 110px;

    /* background-color: yellow; */
}

.cart_wrapper .cart_wrapper_head {
    margin-left: 500px;
    font-size: 17px;
}

.cart_wrapper .cart_wrapper_head .quantity {
    float: left;

}

.cart_wrapper .cart_wrapper_head .total {
    float: left;
    margin-left: 150px;
}

hr {
    width: 800px;
    background-color: rgb(61, 42, 42);
    height: 1px;
    display: hidden;
    margin-top: 20px;
}

.cart_wrapper .cart_prod {
    width: 800px;
    height: 150px;
    background-color: var(--black);
    margin-top: 20px;
}

.cart_wrapper .cart_prod .cart_prod_img {
    height: 150px;
    width: 150px;
    float: left;
}

.cart_wrapper .cart_prod .name_and_remove_div {
    float: left;
    margin-left: 40px;
    color: white;
    width: 300px;
}

.cart_wrapper .cart_prod .name_and_remove_div .cart_prod_name {
    font-size: 20px;
    margin-top: 40px;
}

.cart_wrapper .cart_prod .name_and_remove_div .cart_prod_size {
    font-size: 20px;
}

.cart_wrapper .cart_prod .name_and_remove_div .remove {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.cart_wrapper .cart_prod .cart_prod_quantity {
    color: white;
    font-size: 20px;
    float: left;
    margin-top: 60px;
    margin-left: 15px;
    width: 60px;
    height: 40px;
    text-align: center;
}

.cart_wrapper .cart_prod .cart_prod_price {
    color: white;
    font-size: 20px;
    float: left;
    margin-top: 60px;
    margin-left: 150px;
}

.cart_wrapper .subtotal_div {
    font-size: 17px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 510px;
}

.cart_wrapper .subtotal_div .subtotal {
    float: left;
}

.cart_wrapper .subtotal_div .subtotal_price {
    float: left;
    margin-left: 140px;
}

.cart_wrapper .shipping_note {
    font-size: 15px;
    clear: both;
    margin-top: 70px;
    margin-left: 470px;
}

.cart_wrapper .update_checkout_button {
    margin-top: 30px;
    margin-left: 450px;
}

.cart_wrapper .update_checkout_button .btn {
    width: 150px;
    height: 60px;
    font-size: 17px;
    font-weight: 900;
} 

.cart_wrapper .update_checkout_button .update_cart {
    background-color: black;
    color: #fff;
}

.cart_wrapper .update_checkout_button .checkout_button {
    background-color: var(--black);
    color: #fff;
    margin-left: 20px;
}

.cart_wrapper .paypal_btn {
    margin-left: 425px;
    margin-top: 40px;
}

.cart_wrapper .paypal_btn .paypal_link {
    background-color: rgb(237, 239, 240);
    color: var(--black);
    width: 350px;
    height: 70px;
    font-size: 17px;
    font-weight: 900;
}

/* Footer Section */

.footer_section {
    width: 100%;
    display: inline-block;
    background-color: var(--black);
    color: #fff;
    margin-top: 240px;
    text-decoration: none;
    padding-top: 150px;
    padding-bottom: 140px;
}

.footer_section .first_footer_card,.second_footer_card,.third_footer_card,.fourth_footer_card {
    float: left;
    margin-left: 190px;
    font-size: 15px;
}

.footer_section .first_footer_card a{
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.footer_section .second_footer_card a{
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.footer_section .third_footer_card .socials{
    display: block;
    margin-bottom: 20px;
}

.footer_section .third_section .socials .social_icon,.social_text {
    float: left;
}


@media screen and (min-width: 1450px) {
    header .cart_logo {
        margin-left: 225px;
    }

    .drop_down {
        left: 820px;
    }
   
}