@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0, .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


.info_header {
    background-color: black;
    height: 40px;
    justify-content: space-between;
}

.info_header_text {
    color: rgba(199, 199, 199, 0.8);
    font-size: 17px;
    margin-left: 368px;
    margin-right: auto;
    padding-top: 10px;
}

header {
    display: flex;
    background-color: #fff;
    height: 90px;
    justify-content: space-between;
    background-color: rgb(218, 215, 215);
}

header .landing_logo {
    color: black;
    font-size: 30px;
    font-weight: 1000;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 170px;
}

header .landing-navbar {
    color: black;
    font-size: 23px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    width: 350px;

}

header .landing-navbar a {
    color: rgb(32, 32, 32);
    text-transform: capitalize;
}

.landing_hero {
    background-color: #fff;
    /* display: flex; */
}

.first_section {
    display: block;
    height: 550px;
    width: 100%;
    /* background-color: rgb(218, 215, 215); */
}

.first_section .left_container {
    float: left;
    margin-left: 170px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    padding-top: 150px;
} 

.first_section .left_container p {
    font-size: 18px;
    /* margin-top: 150px; */
}

.first_section .left_container .first_section_header {
    font-size: 55px;
    font-weight: 900;
    margin-top: 30px;
    
}

.first_section .left_container .shop_now_button {
    color: #fff;
    text-transform: capitalize;
    font-size: 23px;
    background-color: black;
    height: 40px;
    width: 150px;
    margin-top: 30px;
}

.first_section figure {
    margin-top: auto;
    margin-bottom: auto;
}

.first_section figure img {
    float: left;
    width: 350px;
    height: 250px;
    margin-top: 60px;
    margin-left: 60px;
   
}

.second_section {
    width: 100%;
    height: 850px;
    display: block;
    padding-top: 40px;
    background-color: rgb(252, 249, 249);
}

.second_section .card_div {
    width: 1000px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* justify-content: space-between; */
}

.second_section .card_div .card {
    float: left;
    width: 300px;
    height: 350px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgb(218, 215, 215);
}


.second_section .card_div .card figure img {
    width: 300px;
    height: 350px;
}

.third_section {
    width: 100%;
    display: block;
    padding-top: 90px;
}

.third_section .third_section_header {
    font-size: 30px;
    text-align: center;
}

.third_section .card_div {
    width: 1100px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.third_section .card_div .card {
    float: left;
    width: 300px;
    height: 300px;
    margin-top: 80px;
    margin-left: 50px;
    /* background-color: rgb(218, 215, 215); */
}

.third_section .card_div .card figure img {
    width: 300px;
    height: 250px;
}

.third_section .card_div .card .card_wrapper {
    display: block;
    padding-left: 10px;
    
}

.third_section .card_div .card .card_wrapper .item_title {
    display: block;
    clear: both;
    font-size: 20px;
    margin-top: 10px;
}

.third_section .card_div .card .card_wrapper .item_price {
    float: left;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 10px;
}

.third_section .card_div .card .card_wrapper .add_to_cart_button {
    float: left;
    font-size: 20px;
    color: #fff;
    background-color: black;
    height: 40px;
    width: 120px;
    margin-left: 122px;
}

.fourth_section {
    width: 100%;
    display: inline-block;
    background-color: rgb(218, 215, 215);
    margin-top: 220px;

}

.fourth_section .subscribe_header {
    font-size: 35px;
    font-weight: 600;
    margin-top: 90px;
    text-align: center;

}

.fourth_section .subscribe_content {
    font-size: 15px;
    margin-top: 20px;
    text-align: center

}

.fourth_section .input_field {
    margin-top: 140px;
    text-align: center;

}

.fourth_section .input_field .subscribe_email {
    height: 65px;
    width: 370px;
}

.fourth_section .input_field .subscribe_button {
    font-size: 20px;
    color: #fff;
    background-color: black;
    height: 64px;
    width: 120px;
    margin-left: 5px;
    margin-bottom: 50px;
}


@media screen and (min-width: 1450px) {
    header .landing_logo {
        margin-left: 270px;
    }
   

    .first_section .left_container {
        margin-left: 270px;
       
    }

}