{% extends "main.html" %}
{% load static %}

{% block content %}
    <section class="first_section">
        <div class="left_container">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <div class="first_section_header">Lorem Ipsum</div>
            <button class="shop_now_button">SHOP NOW</button>
        </div>

        <figure>
            <img src="{% static 'asset/dog23.jpg' %}" alt="">
        </figure>
    </section>

    <section class="second_section">
        <div class="card_div">
            {% for category in categories %}

                <div class="card">
                <figure>
                    <a href='{% url "animalshop:animalshop-CL" category.id  category.slug %}'>
                        <img src="{% static 'asset/dog18.jpg' %}" alt="">
                    </a>
                    {{ category.name }}
                </figure>
                </div>
            {% empty %}
                <div class="card">
                <figure>
                    <a href='{% url "animalshop:animalshop-CL" category.id  category.slug %}'>
                        <img src="{% static 'asset/dog18.jpg' %}" alt="">
                    </a>
                <h5> Coming soon :) </h5>
                </figure>
                </div>
            {% endfor %}

        </div>
    </section>

    <section class="third_section">
        <h2 class="third_section_header">OUR PICKS</h2>
        <div class="card_div">
            <div class="card">
                {% for prod in products %}
                <figure>
                <a href='{{ prod.get_absolute_url }}'>
                <img src="{{ prod.image }}" alt="">
                </a>
                </figure>
                <div class="card_wrapper">
                    <p class="item_title">{{ prod.name }}</p>
                    <div class="item_price">{{ prod.price }}</div>
                </div>
                {% empty %}
                    <figure>
                    <img src="" alt="COMING SOON"></figure>
                    <div class="card_wrapper">
                        <p class="item_title">Coming soon</p>
                        <div class="item_price">Coming soon</div>
                        <div class="item_price">Coming soon</div>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </section>

    <section class="fourth_section">
        <h2 class="subscribe_header">Subscribe to our newsletter</h2>
        <p class="subscribe_content">Promotions, new products and sales. Directly to your inbox.</p>
        <div class="input_field">
            <input class="subscribe_email" type="email" name="" id="">
            <button class="subscribe_button">Subscribe</button>
        </div>
    </section>
{% endblock content %}