{% extends "main.html" %}
{% load static %}

{% block title %} {{ request.get_host }} {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
{% endblock css %}



{% block content %}
<main class="landing_hero">
    <section class="first_section">
        <div class="left_container">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <div class="first_section_header">Lorem Ipsum</div>
            <a href="{% url 'animalshop:animalshop-list' %}">
                <button class="shop_now_button">SHOP NOW</button>
            </a>
        </div>

        <figure class="right_container">
            <img src="{% static '/asset/dog23.jpg' %}" alt="">
        </figure>
    </section>

    <section class="second_section">
        <div class="card_div third_card_div">
        {% for category in categories %}
            <div class="card">
                <a style='background: url({{ category.image }}) center center no-repeat;' 
                href="{% url 'animalshop:animalshop-CL' category.id category.slug  %}" class="clean_link clean_cat_text">{{ category.name }}</a>
            </div>
        {% empty %}
            <div class="card">
                <h1>Opps! No Categories for Products yet(:</h1>
            </div>
        {% endfor %}
        </div>
    </section>

    <section class="third_section">
        <h2 class="third_section_header">OUR PICKS</h2>

        <div class="card_div">
        {% for product in products %}
            <div class="card">
                <figure>
                <a href='{{ product.get_absolute_url }}'>
                <img src="{{ product.image }}" alt="{{ product.name }}">
                </a>
                </figure>
                <div class="card_wrapper">
                    <p class="item_title">{{ product.name }}</p>
                    <div class="item_price">${{ product.price }}</div>
                </div>
            </div>
        {% empty %}
            <div class="card">
                <h1>Opps! No Products Available yet(:</h1>
            </div>
        {% endfor %}
        </div>
    </section>

    <section class="fourth_section">
        <h2 class="subscribe_header">Subscribe to our newsletter</h2>
        <p class="subscribe_content">Promotions, new products and sales. Directly to your inbox.</p>
        <div class="input_field">
            <input class="subscribe_email" type="email" name="" id="">
            <button class="subscribe_button">Subscribe</button>
        </div>
    </section>
</main>
{% endblock content %}


{% block js %}
<script src="{% static 'js/landing_page.js' %}" defer></script>
{% endblock js %}


